<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div id="app">
        <h1>用户管理</h1>
        <!-- 添加框 -->
        <div style="text-align: left;"><el-button type="primary" @Click="handleCreate">新增</el-button> </div>
        <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="账号">
                    <el-input v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="form.userpwd"></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="form.truename"></el-input>
                </el-form-item>
                <el-form-item label="班号">
                    <el-input v-model="form.classid"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmitAdd">提交</el-button>
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 列表 -->
        <div>
            <el-table :data="users" border style="width: 100%">
                <el-table-column prop="username" label="账号">
                </el-table-column>
                <el-table-column prop="userpwd" label="密码">
                </el-table-column>
                <el-table-column prop="truename" label="姓名">
                </el-table-column>
                <el-table-column prop="classid" label="班级">
                </el-table-column>
                <el-table-column fixed="right" label="操作">
                    <template slot-scope="scope">
                        <el-button @click="handleUpdate(scope.row)" type="text" size="small">编辑</el-button>
                        <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-sizes="[10,20,40]" :page-size=10
                layout="total, sizes, prev, pager, next, jumper" :total=total>
            </el-pagination>
        </div>
        <!-- 编辑框 -->
        <el-dialog title="编辑用户" :visible.sync="UpdateFromVisible">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="账号">
                    <el-input v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="form.userpwd"></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                    <el-input v-model="form.truename"></el-input>
                </el-form-item>
                <el-form-item label="班号">
                    <el-input v-model="form.classid"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmitUpdate">提交</el-button>
                    <el-button @click="UpdateFromVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</body>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    axios.defaults.baseURL = "http://localhost:8080";
    axios.defaults.timeout = 3000;
    const app = new Vue({
        el: "#app",
        data() {
            return {
                users: [],
                currentPage: 1,
                pageSize: 10,
                total: 20,
                dialogFormVisible: false,
                UpdateFromVisible: false,
                form: {}
            }
        },
        created() {
            this.query()
        },
        methods: {
            query() {
                axios.get("/users/list", {
                    params: {
                        currentPage: this.currentPage, pageSize: this.pageSize
                    }
                })
                    .then(resp => {
                        this.users = resp.data.users
                        this.total = resp.data.total
                    })
                    .catch(err => console.log(err))
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.query()
            },
            handleCurrentChange(val) {
                this.currentPage = val
                this.query()
            },
            handleCreate() {
                this.form = {}
                this.dialogFormVisible = true
            },
            onSubmitAdd() {
                axios.post('/users', this.form).then(resp => {
                    this.dialogFormVisible = false
                    this.$message({
                        message: '添加成功!',
                        type: 'success'
                    });
                }).catch(err => {
                    this.$message.error('添加失败!')
                }).finally(() => {
                    this.query()
                })
            },
            handleUpdate(row) {
                this.UpdateFromVisible = true
                axios.get('/users/' + row.userid).then(resp => {
                    this.form = resp.data
                })
            },
            onSubmitUpdate() {
                axios.put('/users', this.form).then(resp => {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    })
                    this.UpdateFromVisible = false
                }).catch(err => {
                    this.$message.error('修改失败!')
                }).finally(() => {
                    this.query()
                })
            },
            handleDelete(row) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/users/' + row.userid).then(resp => {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        })
                        this.query()
                    }).catch(err => {
                        this.$message.error('删除失败!')
                    })
                }).catch(() => {
                    this.$message('已取消删除!');
                });
            }
        }
    })

</script>

</html>